.wrapper {
  margin-top: 80px;
  margin-bottom: 20px;
}

.div-signin {
  max-width: 480px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0, 0, 0, 0.1);
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.ul-error {
  color: rgb(255, 60, 0);
  font-size: 80%;
  text-align: left;
  margin-bottom: 30px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin-button {
  margin-bottom: 20px;
}
